body {
  margin: 0;
  background: linear-gradient(155deg, #F5F5F7, #A1A1A6, #F5F5F7, #6E6E73, #D2D2D7);
  padding: 64px;
}

html {
  scroll-behavior: smooth;
}

section {
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  position: fixed; top: 0; left: 0; width: 100%;
  margin-top: 0;
  z-index: 1000;
  width: 100%;
  background-color: rgba(244, 251, 247, 0.8);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between; 
  align-items: center;  
  gap: 40px;          
  padding: 0 10px;
  font-family: Fraunces;
}
.main-nav {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-left: 0px; 
}

header img {
  height: 48px;     
  display: block;  
}

nav {
  position: relative;
  display: flex;
  align-items: center;
  gap: 32px;
  margin-right: 14px;
}
nav a {
  padding-bottom: 6px;
}

a {
  color: #14213D;
  text-decoration: none;
}
a:hover {
  color: #7E95C6;
}

.indicator {
  position: absolute;
  bottom: 0;
  height: 2px;
  background: #6E6E73;
  opacity: 0;
  transition: left 0.3s ease-in-out;
}

.hero {
  padding: 120px 140px;
}

/*HOME PAGE*/
.home {
  position: relative;
  min-height: 100vh;
  padding-top: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.home .content {
  max-width: 50rem;
  width: 100%;
  padding: 0 1.5rem;       
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home .content h1 {
  font-size: 3rem;
  color: black;
  font-family: Fraunces;
  margin: 0;
}

.btn {
  display: inline-flex;
  justify-content: center;
  margin-top: 1rem;
  padding: 0.8rem 2.5rem;
  border-radius: 5rem;
  background: white;
  color: black;
  font-family: 'Segoe UI', Arial, sans-serif;
  font-weight: 500;
}

header .navbar-brand img { height: 40px; }

/* MOBILE */
@media (max-width: 767.98px) {
  header nav {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  header nav a { padding: .9rem 0; }
  header nav .indicator { display: none; }   
  header .navbar-collapse { background: #eef5f3; }
}


/*ABOUT SECTION*/
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; 
}

.about {
  width: 100%;
  max-width: none;
  margin: 0;
  box-sizing: border-box;
  padding-top: 0;     
  margin-top: 0;
  min-height: 50vh;
  padding: 40px 0 0;
  background: none;
  color: #1a1f3c;
}

.sub-header {
  width: 90%;
  margin: 0 auto;
  padding: 10px 0;
  border-bottom: 1px solid #0b1324;
  font-family: "Segoe UI", Arial, sans-serif;
}

.about-hero {
  width: 800px;
  margin: 0 auto;
  padding: 30px 20px;
  text-align: center;
}

.about-hero h1 {
  font-size: 44px;
  margin-bottom: 20px;
  font-family: Inter, Arial, sans-serif;
}

.about-hero p {
  font-size: 20px;
  margin-bottom: 20px;
  font-family: Inter, Arial, sans-serif;
}

.about-hero blockquote {
  font-size: 26px;
  color: #17243e;
  font-family: Inter, Arial, sans-serif;
  font-weight: 700;
}
